# Data
data/raw/
data/processed/
*.edf
*.npy

# Results & Models
results/
*.pt
*.pth
*.png
*.ckpt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
*.egg-info/
dist/
build/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db